# Ignorar arquivos sensíveis
.env
db.sqlite3

# Ignorar ambiente virtual
venv/
myenv/
env/
.venv/

# Ignorar arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar logs e outros arquivos temporários
*.log
*.tmp
*.bak
*.swp

# Ignorar distribuições geradas
dist/
build/
*.egg-info/

# Ignorar IDEs
.vscode/
.idea/